.chat-box {
    height: 75vh;
    position: relative;
    background-color: #f1f5ff;
}

.chat-user {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #c6c6c6;
}

.info {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info .close {
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.chat-user img {
    width: 25px;
    border-radius: 50%;
}

.chat-user img:first-child {
    width: 38px;
    aspect-ratio: 1/1;
}

.chat-user p {
    flex: 1;
    font-weight: 500;
    font-style: 20px;
    color: #393939;
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-msg {
    height: calc(100% - 90px);
    padding-top: 10px;
    padding-bottom: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.sendered-msg,
.recieved-msg {
    display: flex;
    justify-content: end;
    gap: 5px;
    padding: 0px 15px;
}

.recieved-msg {
    flex-direction: row-reverse;
    justify-content: start;
}

.msg-content {
    display: flex;
    flex-direction: column-reverse;
}

.msg-text {
    color: white;
    background-color: #077EFF;
    padding: 10px;
    max-width: 200px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 8px 8px 0px 8px;
    margin-bottom: 5px;
}

.msg-img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.sendered-msg div,
.recieved-msg div {
    text-align: center;
    font-size: 11px;
}

.avatar {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.chat-input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-input input {
    flex: 1;
    border: none;
    outline: none;
}

.chat-input img {
    width: 30px;
    cursor: pointer;
}

.preview-img {
    width: 50px !important;
    height: 50px;
    cursor: no-drop !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input label {
    display: flex;
}

.chat-input label img {
    width: 22px;
}

.sending {
    font-size: 12px;
    color: white;
    background-color: #077EFF;
    padding: 5px 10px;
    border-radius: 12px;
    text-align: center;
    cursor: default;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* Henüz hiçbir sohbet seçilmemişken */
.noConversation {
    width: 75%;
    background-color: #81b6f2;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}